{% extends 'base.html' %}
{% load static %}
{% block content %}


<main class="searchpage">
    <div class="banner">
      <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
      <h1 class="text-center">
        Search Result
      </h1>
    </div>

    <section class="searchbox container mt-5 p-3 bg-accent">
      <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <select name="city" id="inputState" class="form-control">
              <option selected disabled hidden>City</option>
              {% for city in city_search %}
                <option value="{{city}}">{{city}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <select name="camera_type" id="inputState" class="form-control">
              <option selected disabled hidden>Camera Type</option>
              {% for camera_type in camera_type_search %}
                <option value="{{camera_type}}">{{camera_type}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <select name="category" class="form-control">
              <option selected disabled hidden>Category</option>
              {% for category in category_search %}
                <option value="{{category}}">{{category}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
          <div class="text-center">
            <button type="submit" class="btn btn-light ml-2 mb-2 pl-5 pr-5">Search</button>

          </div>
      </form>
    </section>



    <section class="search-results container mt-3 grid">
        {% for YTuber in YTubers %}
            
        <!-- person 1 -->
        <div class="card border-0 text-center">
          <div class="feature-text">
            <a href="{% url 'youtubers_detail' YTuber.id%}">
              <img src="{{ YTuber.photo.url }}" class="card-img-top" alt="team-member">
            </a>
            {% if YTuber.is_featured %}
            <span class="text-left bg-accent font-weight-bold">
              Featured
            </span>
            {% endif %}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ YTuber.name }}</h5>
            <p class="card-text"></p>
            <div class="person-description mt-2">
              <button class="btn btn-accent"> City: {{ YTuber.city }} </button>
              <button class="btn btn-accent"> Age: {{ YTuber.age }} </button>
              <button class="btn btn-accent"> Height: {{ YTuber.height }} </button>
            </div>
            <div class="person-description mt-2">
              <button class="btn btn-accent"> Camera Type: {{ YTuber.camera_type }} </button>
              <button class="btn btn-accent"> Subs: {{ YTuber.subs_count }} </button>
              <button class="btn btn-accent"> Crew: {{ YTuber.crew|title }} </button>
            </div>
          </div>
        </div>
        {% empty %}
          <h2> Empty </h2>
        {% endfor %}
      </div>
    </section>
  </main>

{% endblock content %}

