<!-- header start-->
<header class="header ">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% elif message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row ">
        <div class="col-md-6 header-info">
            <a href="mailto:info@ytubers.com" class="mr-3">info@ytubers.com</a>
            <span>Call at: +91 9898989898 </span>
        </div>
        {% if user.is_authenticated %}
        <div class="header-buttons col-md-6 d-flex justify-content-end">
            <a class="btn btn-accent mr-3" href="{% url 'accounts:dashboard' %}">Dashboard</a>
            <a class="btn btn-accent mr-3" href="{% url 'accounts:logout' %}">Logout</a>
        </div>
        {% else %}
            <div class="header-buttons col-md-6 d-flex justify-content-end">
                <a class="btn btn-accent mr-3" href="{% url 'accounts:login' %}">Signin</a>
                <a class="btn btn-accent " href="{% url 'accounts:register' %}">SignUp</a>
            </div>
        {% endif %}
        </div>
    </div>
</header>
<!-- header end -->